<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting id="autodownload" type = "bool" label="30120" default="false" />
        <setting id="editsrt" type = "bool" label="30140" default="false" />
        <setting id="safety" type="slider" subsetting="true" default="300" range="0,5,1000" option="int" label="30160" />
    </category>

    <!--Blocking Categories-->
    <category label="30400">
        <setting label="30420" type="lsep"/>
        <setting label="30421" type="lsep"/>
        <setting label="30422" type="lsep"/>
        <setting label="30410" type="enum" id="blockcat1" default="1" values="None|Low|Medium|High|Very High"/>
        <setting label="30411" type="enum" id="blockcat2" default="1" values="None|Low|Medium|High|Very High"/>
        <setting label="30412" type="enum" id="blockcat3" default="1" values="None|Low|Medium|High|Very High"/>
        <setting label="30413" type="enum" id="blockcat4" default="1" values="None|Low|Medium|High|Very High"/>
    </category>

    <category label="30200">
        <setting id="usemkvextract" type="bool" label="30210" default="false" />
        <setting id="mkvextractpath" type="folder" source="auto" label="30211" default="" enable="eq(-1,true)"/>
        <setting id="usemp4box" type="bool" label="30220" default="false" />
        <setting id="mp4boxpath" type="folder" source="auto" label="30221" default="" enable="eq(-1,true)"/>
        <setting type="sep"/>
        <setting id="debugmode" type="bool" label="30250" default="false" />
    </category>
</settings>
